.navbar {
  min-height: 10vh;
  padding: 1rem;
  background-color: #f7e5ff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.navbar a {
  padding: 3px 10px;
  border-radius: 5px;
}

a.active {
  color: royalblue;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  pointer-events: none;
}
